@import url(style.css);

/* h1 {
    text-align: center;
    font-family: 'GoodDog Plain', sans-serif;
} */
body{
    background-color:#A360FA;
}

.container img{
    width: 100%;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: var(--font-size-rodape);
    font-weight: var(--font-light);
}

input,
select {
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid #C3B1D7;
    border-radius: 4px;
}

input:focus {
    outline: none;
    border: 2px solid var(--input-focus);
}

select:focus {
    outline: none;
    border: 2px solid var(--input-focus);
}

button {
    padding: 10px 20px;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10%;
}

button:hover {
    transform: scale(1.05);
    transition: .3s;
    background-color: var(--button-hover);
}

ul {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.container {
    max-width: 400px;
    margin: 3.5% auto;
    padding: 20px;
    border: 1px solid #C3B1D7;
    border-radius: 5px;
    background-color: #ffff;
}